<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Form Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="demo-form" [formGroup]="demoForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"
              >Company Name (disabled)<ion-text color="danger"
                >*</ion-text
              ></ion-label
            >
            <ion-input
              required
              type="text"
              formControlName="company"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"
              >First Name <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              required
              type="text"
              formControlName="firstName"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"
              >Long last name that will be truncated
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              required
              type="text"
              formControlName="lastName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ng-container formGroupName="address">
        <ion-row>
          <ion-col>
            <ion-label position="stacked">Address</ion-label>
            <ion-input
              formControlName="street1"
              placeholder="Address Line 1"
            ></ion-input>
            <ion-input
              formControlName="street2"
              placeholder="Address Line 2"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input formControlName="city" placeholder="City"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input
              formControlName="state"
              placeholder="Alabama"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-input formControlName="zip" placeholder="1234"></ion-input>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </form>
  <div class="buttons">
    <ion-button>Submit</ion-button>
    <ion-button color="secondary">Do something...</ion-button>
  </div>
</ion-content>
