<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authentication Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Authentication Overview</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>
          <strong>isAuthenticated$: </strong>
          <span>{{ authService.isAuthenticated$ | async }}</span>
        </li>
        <li>
          <strong>hasValidToken: </strong>
          <span>{{ authService.hasValidToken() }}</span>
        </li>
        <li>
          <strong>isDoneLoading$: </strong>
          <span>{{ authService.isDoneLoading$ | async }}</span>
        </li>
        <li>
          <strong>canActivateProtectedRoutes$: </strong>
          <span>{{ authService.canActivateProtectedRoutes$ | async }}</span>
        </li>
        <li>
          <strong>identityClaims: </strong>
          <code>{{ authService.identityClaims | json }}</code>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
