<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authentication Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Links</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-chip *ngFor="let i of securedLinks" [routerLink]="'secured/' + i"
          >Secured [Blocking] - {{ i }}</ion-chip
        >
      </div>
      <div>
        <ion-chip
          *ngFor="let i of securedLinks"
          [routerLink]="'securedWithLogin/' + i"
          >Secured With Login - {{ i }}</ion-chip
        >
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-button
          color="primary"
          (click)="authService.login()"
          [disabled]="loginDisabled$ | async"
          >Login</ion-button
        >
        <ion-button
          color="warning"
          (click)="authService.logout()"
          [disabled]="logoutDisabled$ | async"
          >Logout</ion-button
        >
      </div>
      <div>
        <ion-button color="tertiary" (click)="authService.refresh()"
          >Force Refresh</ion-button
        >
        <ion-button color="tertiary" (click)="reload()">Reload Page</ion-button>
        <ion-button color="danger" (click)="clearStorage()"
          >Clear Storage</ion-button
        >
      </div>
      <div>
        <ion-button color="tertiary" (click)="callApi()">Call API</ion-button>
        <ion-button color="tertiary" (click)="callApi(2)"
          >Call API 2 Times</ion-button
        >
        <ion-button color="tertiary" (click)="callApi(5)"
          >Call API 5 Times</ion-button
        >
        <ion-button color="tertiary" (click)="callApi(10)"
          >Call API 10 Times</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Overview</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>
          <strong>isAuthenticated$: </strong>
          <span>{{ authService.isAuthenticated$ | async }}</span>
          <app-expiration-counter
            [secondsToExpiration]="secondsToExpiration$ | async"
          ></app-expiration-counter>
        </li>
        <li>
          <strong>hasValidToken: </strong>
          <span>{{ authService.hasValidToken() }}</span>
        </li>
        <li>
          <strong>isDoneLoading$: </strong>
          <span>{{ authService.isDoneLoading$ | async }}</span>
        </li>
        <li>
          <strong>canActivateProtectedRoutes$: </strong>
          <span>{{ authService.canActivateProtectedRoutes$ | async }}</span>
        </li>
        <li>
          <strong>identityClaims: </strong>
          <code class="pre">{{ authService.identityClaims | json }}</code>
          <ul *ngIf="authService.identityClaims as claims">
            <li *ngFor="let claimTime of claimTimes">
              <strong>{{ claimTime.key }} </strong> ({{ claimTime.desc }}):
              <span *ngIf="claims[claimTime.key]">{{
                claims[claimTime.key] * 1000 | date: "full"
              }}</span>
            </li>
          </ul>
        </li>
        <li>
          <strong>Tokens</strong>
          <ul>
            <li *ngFor="let claimToken of claimTokens">
              <strong>{{ claimToken }}: </strong>
              <code>{{ authService[claimToken] }}</code>
              <ul *ngIf="authService[claimToken]">
                <li>
                  <strong>Decoded: </strong>
                  <code class="pre">{{
                    AuthService.decodeToken(authService[claimToken]) | json
                  }}</code>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
