<ion-card>
  <ion-card-header>
    <ion-card-title>Clipboard</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-label position="stacked">Text to copy </ion-label>
            <ion-input type="text" [(ngModel)]="textToCopy"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="copy()"
            [disabled]="!textToCopy || textToCopy.length < 1"
            >Copy</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-label position="stacked">Pasted text </ion-label>
            <ion-input type="text" [value]="pastedText" readonly></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" (click)="paste()">Paste</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Permissions </ion-label>
            <ion-input type="text" [value]="permissions" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="events.length > 0">
        <h4>Events</h4>
        <ul>
          <li *ngFor="let event of events">{{ event }}</li>
        </ul>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
