<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camera Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Camera Source</ion-label>
    <ion-select
      placeholder="Source"
      [value]="cameraSource"
      (ionChange)="onCameraSourceChange($event)"
    >
      <ion-select-option [value]="CameraSource.Camera"
        >Camera</ion-select-option
      >
      <ion-select-option [value]="CameraSource.Photos"
        >Photos</ion-select-option
      >
      <ion-select-option [value]="CameraSource.Prompt"
        >Prompt</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Quality</ion-label>
    <ion-range
      min="0"
      max="100"
      color="secondary"
      (ionChange)="onQualityChange($event)"
      [value]="quality"
    >
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>
  <div class="image-container">
    <div *ngIf="showInfo" class="info">
      <p>
        Ionic must be able to access a camera. On a PC, we get an error if no
        camera is present (there is no automatic upload fallback).
      </p>
      <p>
        On iOS, the app must run in Safari (not Chrome) or as a PWA in order to
        access the camera.
      </p>
    </div>
    <img [src]="photo" />
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
