<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="demo-list">
          <ion-list-header>Demo</ion-list-header>

          <ion-item
            routerLink="demo/form"
            routerLinkActive="selected"
            detail="false"
            lines="none"
          >
            <ion-icon slot="start" name="color-palette"></ion-icon>
            <ion-label>Form</ion-label>
          </ion-item>

          <ion-item
            routerLink="demo/camera"
            routerLinkActive="selected"
            detail="false"
            lines="none"
          >
            <ion-icon slot="start" name="camera"></ion-icon>
            <ion-label>Camera</ion-label>
          </ion-item>

          <ion-item
            routerLink="demo/list"
            routerLinkActive="selected"
            detail="false"
            lines="none"
          >
            <ion-icon slot="start" name="list"></ion-icon>
            <ion-label>List</ion-label>
          </ion-item>
        </ion-list>

        <ion-list id="tech-list">
          <ion-list-header>Tech</ion-list-header>

          <ion-item
            routerLink="tech/authentication"
            routerLinkActive="selected"
            detail="false"
            lines="none"
          >
            <ion-icon
              slot="start"
              [name]="(isAuthenticated$ | async) ? 'lock-closed' : 'lock-open'"
            ></ion-icon>
            <ion-label>Authentication</ion-label>
          </ion-item>

          <ion-item
            routerLink="tech/pwa"
            routerLinkActive="selected"
            detail="false"
            lines="none"
          >
            <ion-icon slot="start" name="logo-capacitor"></ion-icon>
            <ion-label>PWA</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
